<div>
    <h3>Carritos de Compra</h3>
    {{#each carts}}
    <div>
        {{#each products}}
            <span>{{this.id}}</span>
            <span>{{this.quantity}}</span>
        {{/each}}
    </div>
    {{/each}}
</div>